.bg {
    height: 100vh;
    background-color: var(--light-pink);
    background-image: url(../public/images/background-pattern-mobile.svg);

    background-size: auto, 232px;
    background-repeat: no-repeat;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: white;

    width: fit-content;
    margin: 0 2rem;
    padding: 1.5rem;

    border-radius: 0.5rem;

    box-shadow: 0rem 0.5rem 3rem 1rem hsla(292, 42%, 14%, 0.1) ;
}

.topic {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 1.4rem;

    margin-bottom: 1.5rem;
}

.topic p {
    font-size: 2rem;
    font-weight: 700;

}

.hidden {
    display: none;
}


@media (min-width: 376px) {
    .bg {
        background-image: url(../public/images/background-pattern-desktop.svg);
    
        background-size: auto, 320px;

    }
    
    .box {
        width: 600px;
        padding: 2.5rem;
    }

    .topic svg {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 665px) {
    .topic p {
        font-size: 3rem;
    }
}

@media (min-width: 1440px) {
    .bg {
        background-image: url(../public/images/background-pattern-desktop.svg);
    
        background-size: 100%, 320px;

    }
}
